.menuMobile
  ul.menuMobile__list
    li.menuMobile__listelement
      a.menuMobile__link(href="aboutus.html") O NAS
    li.menuMobile__listelement
      a.menuMobile__link(href="grandopening.html") WIELKIE OTWARCIE
    li.menuMobile__listelement
      a.menuMobile__link(href="inspiration.html") ZAINSPIRUJ SIĘ
    li.menuMobile__listelement
      a.menuMobile__link(href="competitions.html") KONKURSY
    li.menuMobile__listelement
      a.menuMobile__link(href="career.html") KARIERA