.menu.animate__animated.animate__fadeInDown
  ul.menu__list
    li.menu__listelement
      a.menu__link(href="aboutus.html") O NAS
    li.menu__listelement
      a.menu__link(href="grandopening.html") WIELKIE OTWARCIE
    li.menu__listelement
      a.menu__link(href="inspiration.html") ZAINSPIRUJ SIĘ
    li.menu__listelement
      a.menu__link(href="competitions.html") KONKURSY
    li.menu__listelement
      a.menu__link(href="career.html") KARIERA