.competitionsList
  .competitionsList__item
    a.competitionsList__link(href="#")
      .competitionsList__container
        img.competitionsList__img(src="./assets/images/CompetitionsList/image1.jpg" alt="Img1")
        h1.competitionsList__title PIERWSZY KONKURS
        hr.competitionsList__hr
        .competitionsList__text.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
  .competitionsList__item
    a.competitionsList__link(href="#")
      .competitionsList__container
        img.competitionsList__img(src="./assets/images/CompetitionsList/image2.jpg" alt="Img2")
        h1.competitionsList__title DRUGI KONKURS
        hr.competitionsList__hr
        .competitionsList__text.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. 
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
          sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
  .competitionsList__item
    a.competitionsList__link(href="#")
      .competitionsList__container
        img.competitionsList__img(src="./assets/images/CompetitionsList/image3.jpg" alt="Img3")
        h1.competitionsList__title TRZECI KONKURS
        hr.competitionsList__hr
        .competitionsList__text.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
          Sed ut perspiciatis unde omnis iste natus 
          error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
          architecto beatae vitae dicta sunt explicabo.