.productsBar
  .productsBar__title Categories
  .productsBar__item.-active(data-type=" ") All
  .productsBar__item(data-type="hat") Hat 
  .productsBar__item(data-type="jeans") Jeans
  .productsBar__item(data-type="shoes") Shoes 
  .productsBar__item(data-type="shirt") Shirt
