.productView
  .productView__gallery
    include ../ProductViewGallery/ProductViewGallery
    include ../ProductViewSlider/ProductViewSlider
  .productView__info
    include ../ProductViewInfo/ProductViewInfo