.productViewInfo
  .productViewInfo__container
    .productViewInfo__category Home / Zadig & Voltaire / Jackets / Coat Kery
    .productViewInfo__designer ZADIG & VOLTAIRE
    .productViewInfo__title Coat Kery
    .productViewInfo__price $1,399
    .productViewInfo__sizeText(name='selectsize') Select Size
    .productViewInfo__sizeText(name='sizeguide') Size Guide
    .productViewInfo__sizeBox
      .productViewInfo__size.-selectSize(name='xs') XS
      .productViewInfo__size(name='s') S
      .productViewInfo__size(name='m') M
      .productViewInfo__size(name='l') L
      .productViewInfo__size(name='xl') XL
    .productViewInfo__sizeGuide.-displaynone
      img.productViewInfo__tableSize(src="./assets/images/ProductViewInfo/sizeguide.jpg" alt="Img1")
    .productViewInfo__buttonBox
      .productViewInfo__bag ADD TO BAG
        img.productViewInfo__img(src="./assets/images/ProductViewInfo/img1.png" alt="Img1")
      .productViewInfo__wishList WISHLIST
        img.productViewInfo__img(src="./assets/images/ProductViewInfo/img2.png" alt="Img2")
  .productViewInfo__infoBox
    .productViewInfo__infoTitle.-selectInfo(name='details')  Product Details
    .productViewInfo__infoTitle(name='shopping') Shopping & Returns
    .productViewInfo__infoTitle(name='designer')  About Designer
    .productViewInfo__infoSection Text about product 