.productGallery
  .productGallery__slick
    a.productGallery__link(href="#")
      img.productGallery__img(src="./assets/images/ProductGallery/image1.jpg" alt="Img1")
    a.productGallery__link(href="#")
      img.productGallery__img(src="./assets/images/ProductGallery/image2.jpg" alt="Img2")
    a.productGallery__link(href="#")
      img.productGallery__img(src="./assets/images/ProductGallery/image3.jpg" alt="Img3")
    a.productGallery__link(href="#")
      img.productGallery__img(src="./assets/images/ProductGallery/image4.jpg" alt="Img4")