.jobOffertList
  .jobOffertList__list
    .jobOffertList__item.-flexmax
      h1.jobOffertList__title Oferta pracy
    .jobOffertList__item Pierwsza oferta
    .jobOffertList__item Druga oferta
    .jobOffertList__item Trzecia Oferta
    .jobOffertList__item Pierwsza oferta
    .jobOffertList__item Druga oferta
    .jobOffertList__item Trzecia Oferta
    .jobOffertList__item Pierwsza oferta
    .jobOffertList__item Druga oferta
    .jobOffertList__item Trzecia Oferta
    .jobOffertList__item Pierwsza oferta
    .jobOffertList__item Druga oferta
    .jobOffertList__item Trzecia Oferta
    .jobOffertList__item Pierwsza oferta
    .jobOffertList__item Druga oferta
    .jobOffertList__item Trzecia Oferta
    .jobOffertList__item.-noborderbottom ....
