.product
  .product__container
    .product__inner
      h1.product__title LOREM IPSUM
        hr.product__hr
  include ../ProductGallery/ProductGallery
  .animate__animated.animate__pulse
    a.product__link(href="#") Lorem ipsum →