.productsList
  .productsList__header Products
  .productsList__item(data-type="hat")
    img.productsList__img(src="./assets/images/ProductGallery/image1.jpg" alt="Img1")
    .productsList__title Produkt nr 1
    .productsList__price 60 zł
  .productsList__item(data-type="shirt")
    img.productsList__img(src="./assets/images/ProductGallery/image2.jpg" alt="Img1")
    .productsList__title Produkt nr 2
    .productsList__price 67 zł
  .productsList__item(data-type="jeans")
    img.productsList__img(src="./assets/images/ProductGallery/image3.jpg" alt="Img1")
    .productsList__title Produkt nr 3
    .productsList__price 160 zł
  .productsList__item(data-type="hat")
    img.productsList__img(src="./assets/images/ProductGallery/image1.jpg" alt="Img1")
    .productsList__title Produkt nr 4
    .productsList__price 86 zł
  .productsList__item(data-type="shoes")
    img.productsList__img(src="./assets/images/ProductGallery/image2.jpg" alt="Img1")
    .productsList__title Produkt nr 5
    .productsList__price 20 zł
  .productsList__item(data-type="jeans")
    img.productsList__img(src="./assets/images/ProductGallery/image3.jpg" alt="Img1")
    .productsList__title Produkt nr 6
    .productsList__price 61 zł
  .productsList__item(data-type="shirt")
    img.productsList__img(src="./assets/images/ProductGallery/image1.jpg" alt="Img1")
    .productsList__title Produkt nr 7
    .productsList__price 620 zł
  .productsList__item(data-type="hat")
    img.productsList__img(src="./assets/images/ProductGallery/image2.jpg" alt="Img1")
    .productsList__title Produkt nr 8
    .productsList__price 60 zł
  .productsList__item(data-type="shoes")
    img.productsList__img(src="./assets/images/ProductGallery/image3.jpg" alt="Img1")
    .productsList__title Produkt nr 9
    .productsList__price 50 zł