.header(data-color="red")
  a(href="main.html")
    img.header__logo(src="./assets/images/Logo/logo.jpg" alt="Logo")
  include ../Menu/Menu
  .header__toggle
    .header__togglebar
  include ../MenuMobile/MenuMobile