.section
  .section__image
    img.section__img(src="./assets/images/Section/imgsection.jpg" alt="Img")
  .section__inner
    h1.section__title LOREM IPSUM
      hr.section__hr
    .section__text.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .animate__animated.animate__pulse
      a.section__link(href="#") Lorem ipsum →

