.footer
  img.footer__img(src="./assets/images/Footer/footer.jpg" alt="Footer")
  table.footer__table
    tr
      td.footer__table__cell
        a.footer__link(href="#") Lorem
      td.footer__table__cell
        a.footer__link(href="#") Ipsum
      td.footer__table__cell
        a.footer__link(href="#") Lorem
      td.footer__table__cell.-blackhr
        a.footer__link(href="#") Ipsum
