.productViewSlider
  .productViewSlider__slick
    img.productViewSlider_img(src="./assets/images/ProductGallery/image1.jpg" alt="Img1")
    img.productViewSlider_img(src="./assets/images/ProductGallery/image2.jpg" alt="Img2")
    img.productViewSlider_img(src="./assets/images/ProductGallery/image3.jpg" alt="Img3")
    img.productViewSlider_img(src="./assets/images/ProductGallery/image2.jpg" alt="Img3")
    img.productViewSlider_img(src="./assets/images/ProductGallery/image1.jpg" alt="Img3")
  .productViewSlider__buttons
    button.slick-prev.slick-arrow 
    button.slick-next.slick-arrow 

