.jobSection
  .jobSection__container
    .jobSection__inner
      include ../JobFilter/JobFilter
      include ../JobSearch/JobSearch
    hr.jobSection__hr
    .jobSection__inner
      include ../JobOfferList/JobOfferList
      include ../JobOffer/JobOffer