.banner.animate__animated.animate__flipInY
  img.banner__img(src="./assets/images/Banner/banner1.jpg" alt="Banner")
  .banner__inner
    .banner__titleyellow lorem ipsum...
    .banner__title.
      LOREM IPSUM DOLOR <br> 
      SIT AMET
    a.banner__btn(href="#") lorem ipsum