.jobOffer
  .jobOffer__header
    h1.jobOffer__header__title Nazwa stanowiska pracy 
    .jobOffer__inner
      .jobOffer__inner__text Stanowisko 
      .jobOffer__inner__text Lokalizacja
      .jobOffer__inner__text Dział
      .jobOffer__inner__text Data
  .jobOffer__container
    .jobOffer__container__title Opis stanowiska
    .jobOffer__text.
      Wspieranie wizji firmy poprzez aktywną sprzadaż, działania operacyjne, dbanie o wygląd sklepu, pracę zespołową oraz doskonałą obsługę klienta.
      Podstawowym zadaniem na tym stanoiwisku jest zaangażowanie w obsługę klienta podczas wykonywania codziennych obowiązków oraz powierzonych zadań.
    .jobOffer__container__title Sprzedaż
    ul.jobOffer__list
      li.jobOffer__item Znajomość tygodniowych, miesięcznych oraz rocznych planów sprzedażowych
      li.jobOffer__item Zaangażowanie w zwiększenie średniej liczby sprzedanych produktów na paragonie
      li.jobOffer__item Zaangażowanie w zwiększenie średniej wartości na paragonie
    .jobOffer__container__title Działania operacyjne
    ul.jobOffer__list
      li.jobOffer__item Utrzymanie czystego i dobrze zorganizowanego sklepu
      li.jobOffer__item Dbanie o porządek na zapleczu sklepu
      li.jobOffer__item Przestrzeganie zasad i procedur
    .jobOffer__container__title Oczekiwane kompetencje i mocne strony
    ul.jobOffer__list
      li.jobOffer__item Dobra komunikacja i zdolności interpersonalne
      li.jobOffer__item Elastyczność związana z harmonogramem pracy
      li.jobOffer__item Orientacja na wyznaczony cel oraz prace zespołową
      li.jobOffer__item Odpornośc na stres
      li.jobOffer__item Zachowanie poufności
    .jobOffer__btn.-btntop English
    a(href="career.html")
      .jobOffer__btn.-btnbottom Wyślij Cv